<a href="https://colab.research.google.com/github/muoyo/chicago-ridesharing/blob/master/notebooks/rideshare_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
!pip install sodapy

Requirement already satisfied: sodapy in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from sodapy) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2.8)

In [0]:
import pandas as pd
import seaborn as sns
from sodapy import Socrata
import statsmodels.api as sm
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_squared_log_error
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [21]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# !pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
# client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
client = Socrata('data.cityofchicago.org',
                 'Tk6RhuGAFvF9P4ehsysybj3IW',
                 username="mokome@gmail.com",
                 password="Ch1cago!!")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
client.timeout = 10000
results = client.get("m6dm-c72p", limit=200000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

                                         trip_id  ... dropoff_census_tract
0       0693dfa2c745c7ed6378d47b1e2d37e85e826f7c  ...                  NaN
1       b1ac6cb0bf90b788309bc13aa616d64506b518f5  ...                  NaN
2       8b3ce2b030e262a4ea1f70e114fa1825f8e23aff  ...                  NaN
3       3602621f8f90e3314c734a13065a30fef2f03ee3  ...                  NaN
4       e40a569168ea550ef4c0d34d35c1b686778bd5b8  ...          17031839000
...                                          ...  ...                  ...
199995  a442089af1b1a9da7e5bc0bcdad4585734c15395  ...                  NaN
199996  947f59487c98b08ea9dc1b0604875455c1e3b4d9  ...          17031839100
199997  07adbfa9f78bc34f1747acf73453503069a2b88f  ...          17031980000
199998  c94267a1427518fc44b06f8edc185a16abc2eb62  ...                  NaN
199999  d85b769aa8bd40d255fe0ac2a43a0260f834ce5a  ...          17031980100

[200000 rows x 21 columns]

In [22]:
results_df.head()

                                    trip_id  ... dropoff_census_tract
0  0693dfa2c745c7ed6378d47b1e2d37e85e826f7c  ...                  NaN
1  b1ac6cb0bf90b788309bc13aa616d64506b518f5  ...                  NaN
2  8b3ce2b030e262a4ea1f70e114fa1825f8e23aff  ...                  NaN
3  3602621f8f90e3314c734a13065a30fef2f03ee3  ...                  NaN
4  e40a569168ea550ef4c0d34d35c1b686778bd5b8  ...          17031839000

[5 rows x 21 columns]

In [23]:
results_df.columns

Index(['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'dropoff_community_area', 'fare', 'tip',
       'additional_charges', 'trip_total', 'shared_trip_authorized',
       'trips_pooled', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude', 'dropoff_centroid_location',
       'pickup_community_area', 'pickup_centroid_latitude',
       'pickup_centroid_longitude', 'pickup_centroid_location',
       'pickup_census_tract', 'dropoff_census_tract'],
      dtype='object')

In [24]:
columns_to_use = ['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_community_area', 'fare', 'tip',
       'additional_charges', 'trip_total' ]

columns_to_drop = [ col for col in results_df.columns if col not in columns_to_use ]
df = results_df.drop(columns=columns_to_drop)

df['trip_start_timestamp'] = pd.to_datetime(df['trip_start_timestamp'])
df['trip_end_timestamp'] = pd.to_datetime(df['trip_end_timestamp'])
df['trip_seconds'] = df['trip_seconds'].astype('int64')

for col in ['trip_miles', 'fare', 'tip', 'additional_charges', 'trip_total']:
    df[col] = df[col].astype(float) 

df['start_weekday'] = df['trip_start_timestamp'].apply(lambda d: d.weekday())
df['start_hour'] = df['trip_start_timestamp'].apply(lambda d: d.hour)
df['start_time_block'] = df['start_hour'] // 3

df.head()

                                    trip_id  ... start_time_block
0  0693dfa2c745c7ed6378d47b1e2d37e85e826f7c  ...                7
1  b1ac6cb0bf90b788309bc13aa616d64506b518f5  ...                7
2  8b3ce2b030e262a4ea1f70e114fa1825f8e23aff  ...                7
3  3602621f8f90e3314c734a13065a30fef2f03ee3  ...                7
4  e40a569168ea550ef4c0d34d35c1b686778bd5b8  ...                7

[5 rows x 13 columns]

In [32]:
df['start_date_plus_hour'] = df['trip_start_timestamp'].apply(lambda d: datetime(d.year, d.month, d.day, d.hour))
df.head()

                                    trip_id  ... start_date_plus_hour
0  0693dfa2c745c7ed6378d47b1e2d37e85e826f7c  ...  2019-09-30 23:00:00
1  b1ac6cb0bf90b788309bc13aa616d64506b518f5  ...  2019-09-30 23:00:00
2  8b3ce2b030e262a4ea1f70e114fa1825f8e23aff  ...  2019-09-30 23:00:00
3  3602621f8f90e3314c734a13065a30fef2f03ee3  ...  2019-09-30 23:00:00
4  e40a569168ea550ef4c0d34d35c1b686778bd5b8  ...  2019-09-30 23:00:00

[5 rows x 14 columns]

In [0]:
# public_schools_per_county = df_public_schools['COUNTYFIPS'].value_counts().to_frame()
# public_schools_per_county.reset_index(level=0, inplace=True)
# public_schools_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfPublicSchools"}, inplace=True)
# public_schools_per_county_dcmetro = public_schools_per_county.loc[public_schools_per_county['FIPS'].isin(dcmetro_FIPS.values())]

# private_schools_per_county = df_private_schools['COUNTYFIPS'].value_counts().to_frame()
# private_schools_per_county.reset_index(level=0, inplace=True)
# private_schools_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfPrivateSchools"}, inplace=True)
# private_schools_per_county_dcmetro = private_schools_per_county.loc[private_schools_per_county['FIPS'].isin(dcmetro_FIPS.values())]

# hospitals_per_county = df_hospitals['COUNTYFIPS'].value_counts().to_frame()
# hospitals_per_county.reset_index(level=0, inplace=True)
# hospitals_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfHospitals"}, inplace=True)
# hospitals_per_county['FIPS'] = pd.to_numeric(hospitals_per_county['FIPS'], errors='coerce')
# hospitals_per_county_dcmetro = hospitals_per_county.loc[hospitals_per_county['FIPS'].isin(dcmetro_FIPS.values())]

# df_dcmetro_merged = df_dcmetro.merge(public_schools_per_county_dcmetro, how='left', on='FIPS').merge(
#                                     private_schools_per_county_dcmetro, how='left', on='FIPS').merge(
#                                     hospitals_per_county_dcmetro, how='left', on='FIPS')

In [0]:
\

AttributeError: ignored

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 14 columns):
trip_id                   200000 non-null object
trip_start_timestamp      200000 non-null datetime64[ns]
trip_end_timestamp        200000 non-null datetime64[ns]
trip_seconds              200000 non-null int64
trip_miles                200000 non-null float64
pickup_community_area     185706 non-null object
dropoff_community_area    183628 non-null object
fare                      200000 non-null float64
tip                       200000 non-null float64
additional_charges        200000 non-null float64
trip_total                200000 non-null float64
start_weekday             200000 non-null int64
start_hour                200000 non-null int64
start_time_block          200000 non-null int64
dtypes: datetime64[ns](2), float64(5), int64(4), object(3)
memory usage: 21.4+ MB

In [25]:
columns_to_use = ['start_weekday', 'start_hour', 'pickup_community_area']

columns_to_drop = [ col for col in df.columns if col not in columns_to_use ]
X_cat = df.drop(columns=columns_to_drop)
X_cat = X_cat.fillna('0')
X_cat

       pickup_community_area  start_weekday  start_hour
0                          0              0          23
1                         15              0          23
2                          7              0          23
3                          2              0          23
4                          8              0          23
...                      ...            ...         ...
199995                    53              0           6
199996                     8              0           6
199997                    32              0           6
199998                    19              0           6
199999                     7              0           6

[200000 rows x 3 columns]

In [26]:
enc = OneHotEncoder()
# X_cat_ohe = enc.fit_transform(X_cat)
# columns = enc.get_feature_names(input_features=X_cat.columns)
# X_cat_df = pd.DataFrame(X_cat_ohe.todense(), columns=columns)
y = df['trip_total']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_cat, y, test_size=0.25, random_state=12)

# Transform training and test sets
X_train_enc = enc.fit_transform(X_train, y_train)
X_test_enc = enc.transform(X_test)

# Convert these columns into a DataFrame 
columns = enc.get_feature_names(input_features=X_train.columns)
X_train_df = pd.DataFrame(X_train_enc.todense(), columns=columns, index=X_train.index)
X_test_df = pd.DataFrame(X_test_enc.todense(), columns=columns, index=X_test.index)

X_train_df = sm.add_constant(X_train_df)
model = sm.OLS(y_train,X_train_df).fit()
model.summary()

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             trip_total   R-squared:                       0.311
Model:                            OLS   Adj. R-squared:                  0.311
Method:                 Least Squares   F-statistic:                     720.5
Date:                Wed, 22 Jan 2020   Prob (F-statistic):               0.00
Time:                        13:16:07   Log-Likelihood:            -5.6405e+05
No. Observations:              150000   AIC:                         1.128e+06
Df Residuals:                  149905   BIC:                         1.129e+06
Df Model:                          94
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
pickup_community_area_0     14.5001      0.116    125.103      0.000      14.273      14.727
pickup_community_area_1      0.1368      0.265      0.517      0.605      -0.382       0.655
pickup_community_area_10     0.7290      0.494      1.475      0.140      -0.240       1.697
pickup_community_area_11     0.8342      0.488      1.710      0.087      -0.122       1.790
pickup_community_area_12     1.5581      0.692      2.253      0.024       0.203       2.914
pickup_community_area_13     0.2849      0.508      0.561      0.575      -0.711       1.281
pickup_community_area_14    -0.0236      0.338     -0.070      0.944      -0.687       0.640
pickup_community_area_15    -0.1720      0.331     -0.519      0.604      -0.821       0.477
pickup_community_area_16     0.2527      0.286      0.884      0.376      -0.307       0.813
pickup_community_area_17    -0.3872      0.483     -0.801      0.423      -1.335       0.560
pickup_community_area_18    -0.0082      0.832     -0.010      0.992      -1.639       1.623
pickup_community_area_19    -0.5180      0.303     -1.708      0.088      -1.112       0.077
pickup_community_area_2     -0.8937      0.299     -2.992      0.003      -1.479      -0.308
pickup_community_area_20    -1.3781      0.492     -2.801      0.005      -2.342      -0.414
pickup_community_area_21    -0.4928      0.278     -1.771      0.077      -1.038       0.053
pickup_community_area_22    -0.8150      0.169     -4.832      0.000      -1.146      -0.484
pickup_community_area_23    -1.8133      0.302     -5.995      0.000      -2.406      -1.220
pickup_community_area_24    -1.4303      0.130    -11.024      0.000      -1.685      -1.176
pickup_community_area_25    -1.1295      0.269     -4.198      0.000      -1.657      -0.602
pickup_community_area_26    -2.1456      0.549     -3.909      0.000      -3.221      -1.070
pickup_community_area_27    -1.4906      0.423     -3.521      0.000      -2.320      -0.661
pickup_community_area_28    -1.4263      0.107    -13.338      0.000      -1.636      -1.217
pickup_community_area_29    -1.5712      0.341     -4.611      0.000      -2.239      -0.903
pickup_community_area_3      0.4142      0.200      2.070      0.038       0.022       0.806
pickup_community_area_30    -0.9581      0.327     -2.933      0.003      -1.598      -0.318
pickup_community_area_31    -1.7125      0.255     -6.718      0.000      -2.212      -1.213
pickup_community_area_32     0.4999      0.102      4.890      0.000       0.300       0.700
pickup_community_area_33     0.1673      0.214      0.781      0.435      -0.252       0.587
pickup_community_area_34    -1.6980      0.414     -4.104      0.000      -2.509      -0.887
pickup_community_area_35    -1.6914      0.314     -5.381      0.000      -2.307      -1.075
pickup_community_area_36    -1.6948      0.728     -2.327      0.020      -3.123      -0.267
pickup_community_area_37    -2.7004      0.976     -2.766      0.006      -4.614      -0.787
pickup_community_area_38    -1.3517      0.350     -3.862      0.000      -2.038      -0.666
pickup_community_area_39    -0.3262      0.373     -0.874      0.382      -1.057       0.405
pickup_community_area_4      0.1999      0.284      0.705      0.481      -0.356       0.756
pickup_community_area_40    -2.3509      0.522     -4.504      0.000      -3.374      -1.328
pickup_community_area_41     0.5592      0.214      2.610      0.009       0.139       0.979
pickup_community_area_42    -1.4139      0.350     -4.042      0.000      -2.099      -0.728
pickup_community_area_43    -0.6496      0.305     -2.132      0.033      -1.247      -0.052
pickup_community_area_44    -2.1661      0.345     -6.274      0.000      -2.843      -1.489
pickup_community_area_45    -1.4243      0.776     -1.835      0.067      -2.946       0.097
pickup_community_area_46     0.1247      0.512      0.243      0.808      -0.879       1.129
pickup_community_area_47    -0.6287      1.246     -0.504      0.614      -3.072       1.814
pickup_community_area_48     0.0443      0.718      0.062      0.951      -1.362       1.451
pickup_community_area_49    -0.5531      0.372     -1.487      0.137      -1.282       0.176
pickup_community_area_5      1.1858      0.267      4.442      0.000       0.663       1.709
pickup_community_area_50     0.2490      0.781      0.319      0.750      -1.281       1.779
pickup_community_area_51    -0.5009      0.687     -0.729      0.466      -1.848       0.846
pickup_community_area_52     3.7984      1.179      3.221      0.001       1.487       6.110
pickup_community_area_53     0.2497      0.546      0.457      0.647      -0.820       1.320
pickup_community_area_54     1.6780      0.955      1.757      0.079      -0.194       3.550
pickup_community_area_55     1.0199      1.044      0.977      0.329      -1.027       3.067
pickup_community_area_56    16.8418      0.217     77.560      0.000      16.416      17.267
pickup_community_area_57    -1.1026      0.583     -1.890      0.059      -2.246       0.041
pickup_community_area_58    -2.1807      0.400     -5.450      0.000      -2.965      -1.396
pickup_community_area_59    -1.9645      0.531     -3.697      0.000      -3.006      -0.923
pickup_community_area_6      0.2719      0.133      2.046      0.041       0.011       0.532
pickup_community_area_60    -1.1935      0.357     -3.342      0.001      -1.894      -0.493
pickup_community_area_61    -1.8157      0.381     -4.772      0.000      -2.562      -1.070
pickup_community_area_62    -1.7449      0.629     -2.775      0.006      -2.977      -0.512
pickup_community_area_63    -2.4045      0.483     -4.975      0.000      -3.352      -1.457
pickup_community_area_64     0.5397      0.649      0.831      0.406      -0.733       1.813
pickup_community_area_65    -1.0948      0.489     -2.240      0.025      -2.053      -0.137
pickup_community_area_66    -1.3517      0.388     -3.486      0.000      -2.112      -0.592
pickup_community_area_67    -1.9952      0.447     -4.464      0.000      -2.871      -1.119
pickup_community_area_68    -2.1894      0.408     -5.363      0.000      -2.990      -1.389
pickup_community_area_69    -2.4938      0.369     -6.756      0.000      -3.217      -1.770
pickup_community_area_7     -0.7684      0.139     -5.534      0.000      -1.041      -0.496
pickup_community_area_70     0.4889      0.461      1.061      0.289      -0.414       1.392
pickup_community_area_71    -1.2608      0.364     -3.463      0.001      -1.974      -0.547
pickup_community_area_72     1.3670      0.711      1.923      0.055      -0.026       2.760
pickup_community_area_73    -0.8278      0.534     -1.550      0.121      -1.875       0.219
pickup_community_area_74     0.2774      0.972      0.285      0.775      -1.628       2.182
pickup_community_area_75     1.1053      0.615      1.796      0.072      -0.101       2.311
pickup_community_area_76    22.6989      0.124    183.630      0.000      22.457      22.941
pickup_community_area_77     1.0741      0.243      4.413      0.000       0.597       1.551
pickup_community_area_8     -0.1781      0.091     -1.960      0.050      -0.356   -4.37e-05
pickup_community_area_9      2.3421      1.034      2.266      0.023       0.316       4.368
start_weekday_0             13.4111      0.057    236.143      0.000      13.300      13.522
start_hour_6                 5.8035      0.140     41.394      0.000       5.529       6.078
start_hour_7                 2.9071      0.105     27.806      0.000       2.702       3.112
start_hour_8                 1.4085      0.093     15.101      0.000       1.226       1.591
start_hour_9                 0.8251      0.099      8.363      0.000       0.632       1.018
start_hour_10                1.5786      0.109     14.494      0.000       1.365       1.792
start_hour_11                1.5510      0.112     13.804      0.000       1.331       1.771
start_hour_12                1.3608      0.110     12.325      0.000       1.144       1.577
start_hour_13                1.1195      0.109     10.236      0.000       0.905       1.334
start_hour_14                1.6418      0.108     15.215      0.000       1.430       1.853
start_hour_15                1.7787      0.105     16.904      0.000       1.572       1.985
start_hour_16                1.4021      0.101     13.862      0.000       1.204       1.600
start_hour_17                0.2632      0.097      2.726      0.006       0.074       0.452
start_hour_18               -0.9381      0.099     -9.429      0.000      -1.133      -0.743
start_hour_19               -0.9676      0.116     -8.369      0.000      -1.194      -0.741
start_hour_20               -1.0203      0.126     -8.097      0.000      -1.267      -0.773
start_hour_21               -1.3365      0.131    -10.235      0.000      -1.592      -1.081
start_hour_22               -1.4419      0.145     -9.954      0.000      -1.726      -1.158
start_hour_23               -2.5245      0.179    -14.087      0.000      -2.876      -2.173
==============================================================================
Omnibus:                   122337.021   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         12828506.792
Skew:                           3.320   Prob(JB):                         0.00
Kurtosis:                      47.816   Cond. No.                     1.16e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.26e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [27]:

# Fit the model
linreg = LinearRegression()
linreg.fit(X_train_df, y_train)

# Print R2 and MSE for training and test sets
print('Training r^2:', linreg.score(X_train_df, y_train))
print('Test r^2:', linreg.score(X_test_df, y_test))
print('Training MSE:', mean_squared_error(y_train, linreg.predict(X_train_df)))
print('Test MSE:', mean_squared_error(y_test, linreg.predict(X_test_df)))

Training r^2: 0.31120337885173954
Test r^2: 0.3158165059278203
Training MSE: 108.06877067877224
Test MSE: 104.45088889944266

In [39]:
weather_df = pd.read_csv('https://github.com/muoyo/chicago-ridesharing/raw/master/data/chicago_weather.csv')
weather_df

             date  hour        time  ... visibility  ozone  precipAccumulation
0      2018-11-01     0  1541048400  ...       10.0  290.8                 NaN
1      2018-11-01     1  1541052000  ...       10.0  289.5                 NaN
2      2018-11-01     2  1541055600  ...       10.0  289.1                 NaN
3      2018-11-01     3  1541059200  ...       10.0  289.0                 NaN
4      2018-11-01     4  1541062800  ...       10.0  289.1                 NaN
...           ...   ...         ...  ...        ...    ...                 ...
10220  2019-12-31    19  1577840400  ...       10.0  354.5                 NaN
10221  2019-12-31    20  1577844000  ...       10.0  356.8              0.0063
10222  2019-12-31    21  1577847600  ...       10.0  358.7                 NaN
10223  2019-12-31    22  1577851200  ...       10.0  359.4              0.0079
10224  2019-12-31    23  1577854800  ...       10.0  359.8                 NaN

[10225 rows x 21 columns]

In [0]:
# weather_df.loc[(weather_df['hour'] < 0) | (weather_df['hour'] > 23)]
# weather_df = weather_df.drop(labels=[96,8832], axis=0)
weather_df['hour'] = weather_df['hour'].apply(lambda x: '{:02d}'.format(x))

In [41]:
weather_df['start_date_plus_hour'] = pd.to_datetime(weather_df['date'] + ' ' + weather_df['hour'] + ':00:00')
weather_df.info()

ValueError: ignored

In [35]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10225 entries, 0 to 10224
Data columns (total 21 columns):
date                   10225 non-null object
hour                   10225 non-null int64
time                   10225 non-null int64
summary                10225 non-null object
icon                   10225 non-null object
precipIntensity        10225 non-null float64
precipProbability      10225 non-null float64
precipType             7035 non-null object
temperature            10225 non-null float64
apparentTemperature    10225 non-null float64
dewPoint               10225 non-null float64
humidity               10225 non-null float64
pressure               10225 non-null float64
windSpeed              10225 non-null float64
windGust               10225 non-null float64
windBearing            10225 non-null int64
cloudCover             10225 non-null float64
uvIndex                10225 non-null int64
visibility             10225 non-null float64
ozone                  10225 non-null float64
precipAccumulation     1883 non-null float64
dtypes: float64(13), int64(4), object(4)
memory usage: 1.6+ MB