<a href="https://colab.research.google.com/github/muoyo/chicago-ridesharing/blob/master/notebooks/rideshare_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install sodapy

Collecting sodapy
  Downloading https://files.pythonhosted.org/packages/64/06/6144b36a4b4470bef1fb17d7b98b82a202b5e918f7e0a2c123004f73ca07/sodapy-2.0.0-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from sodapy) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (1.24.3)
Installing collected packages: sodapy
Successfully installed sodapy-2.0.0

In [3]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# !pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
# client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
client = Socrata('data.cityofchicago.org',
                 'Tk6RhuGAFvF9P4ehsysybj3IW',
                 username="mokome@gmail.com",
                 password="Ch1cago!!")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
client.timeout = 10000
results = client.get("m6dm-c72p", limit=1000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

                                         trip_id  ...                          dropoff_centroid_location
0       033eb553a267c9672a16307749ba585b2279d950  ...  {'type': 'Point', 'coordinates': [-87.62665890...
1       06d0dc55591d6fafd44943dceb79db36f9e5f10b  ...  {'type': 'Point', 'coordinates': [-87.69643523...
2       30d8197b8eee1730b0af2719dcdb13a64726bd6b  ...  {'type': 'Point', 'coordinates': [-87.61596952...
3       0b4c86af9dfac5bf734ae0a651e8e997bcc00264  ...  {'type': 'Point', 'coordinates': [-87.68383494...
4       322542beb412800793bd4eb7939202f8606246e1  ...  {'type': 'Point', 'coordinates': [-87.63274648...
...                                          ...  ...                                                ...
999995  042fdebf257a8746b6cbecba054e91a51c94c4a9  ...  {'type': 'Point', 'coordinates': [-87.65177050...
999996  60ff322051f0eed338ae1f6c5950f7f050f673d3  ...  {'type': 'Point', 'coordinates': [-87.61971067...
999997  00ffd26fdede03e27ce93c69adf5a0849c9be74b  ...  {'type': 'Point', 'coordinates': [-87.64316237...
999998  62dfc340528050d5aeae99eaf16e51ce2cced419  ...  {'type': 'Point', 'coordinates': [-87.68383494...
999999  0362928d07517f4f4e7b92394cdc0517273051de  ...  {'type': 'Point', 'coordinates': [-87.62217293...

[1000000 rows x 21 columns]

In [5]:
results_df.head()

                                    trip_id  ...                          dropoff_centroid_location
0  033eb553a267c9672a16307749ba585b2279d950  ...  {'type': 'Point', 'coordinates': [-87.62665890...
1  05f8c7b6ab9add701206b29fada5f6db1a358da3  ...  {'type': 'Point', 'coordinates': [-87.67272395...
2  120b0c6c8bc222c9cae064083a1e0152481a14d6  ...  {'type': 'Point', 'coordinates': [-87.61785967...
3  1413969321456405849e5f69b90f4efd543e02ed  ...  {'type': 'Point', 'coordinates': [-87.64600706...
4  1d0c3724f384cd00a95b28132d4ac3f7eba9506f  ...  {'type': 'Point', 'coordinates': [-87.67635598...

[5 rows x 21 columns]

In [12]:
results_df.columns

Index(['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_census_tract', 'dropoff_census_tract',
       'pickup_community_area', 'dropoff_community_area', 'fare', 'tip',
       'additional_charges', 'trip_total', 'shared_trip_authorized',
       'trips_pooled', 'pickup_centroid_latitude', 'pickup_centroid_longitude',
       'pickup_centroid_location', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude', 'dropoff_centroid_location'],
      dtype='object')

In [0]:
columns_to_use = ['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_community_area', 'dropoff_community_area', 'fare', 'tip',
       'additional_charges', 'trip_total' ]

columns_to_drop = [ col for col in results_df.columns if col not in columns_to_use ]

In [15]:
df = results_df.drop(columns=columns_to_drop)
df.head()

                                    trip_id  ... trip_total
0  033eb553a267c9672a16307749ba585b2279d950  ...       7.55
1  06d0dc55591d6fafd44943dceb79db36f9e5f10b  ...       7.55
2  30d8197b8eee1730b0af2719dcdb13a64726bd6b  ...       7.55
3  0b4c86af9dfac5bf734ae0a651e8e997bcc00264  ...      12.55
4  322542beb412800793bd4eb7939202f8606246e1  ...       7.55

[5 rows x 11 columns]

In [0]:
df['trip_start_timestamp'] = pd.to_datetime(df['trip_start_timestamp'])
df['trip_end_timestamp'] = pd.to_datetime(df['trip_end_timestamp'])
df['trip_seconds'] = df['trip_seconds'].astype('int64')

for col in ['trip_miles', 'fare', 'tip', 'additional_charges', 'trip_total']:
    df[col] = df[col].astype(float)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
trip_id                   1000000 non-null object
trip_start_timestamp      1000000 non-null datetime64[ns]
trip_end_timestamp        1000000 non-null datetime64[ns]
trip_seconds              1000000 non-null int64
trip_miles                999994 non-null float64
pickup_community_area     935379 non-null object
dropoff_community_area    925497 non-null object
fare                      1000000 non-null float64
tip                       1000000 non-null float64
additional_charges        1000000 non-null float64
trip_total                1000000 non-null float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(3)
memory usage: 83.9+ MB

In [0]:
df = df.dropna()

In [0]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
df['start_weekday'] = df['trip_start_timestamp'].apply(lambda d: d.weekday())
df['start_hour'] = df['trip_start_timestamp'].apply(lambda d: d.hour)

In [0]:
df['start_time_block'] = df['start_hour'] // 3

In [50]:
df.head(25)

                                     trip_id  ... start_weekday
0   033eb553a267c9672a16307749ba585b2279d950  ...             0
1   06d0dc55591d6fafd44943dceb79db36f9e5f10b  ...             0
2   30d8197b8eee1730b0af2719dcdb13a64726bd6b  ...             0
3   0b4c86af9dfac5bf734ae0a651e8e997bcc00264  ...             0
4   322542beb412800793bd4eb7939202f8606246e1  ...             0
5   0578c64349ead288a0e93162d2a8ba23d8b37eed  ...             0
6   2b069b93577ba278873f97fab8390d13bfa005ba  ...             0
7   0a70d458721b657849a32cf95cf55482ba472e6b  ...             0
8   31961c6d3cb60f2179d6a700bf7c253aa40d82a6  ...             0
9   063e0b787ba079e9626dc0757844d6cc72758c8b  ...             0
10  2bb2d9aa98095d46b4bbe8149547bb72140909de  ...             0
11  0abf35431759cfe3aa42583c023dfe331169a957  ...             0
12  2fb074c76179f7b656844efb86319c1b16e5198d  ...             0
13  0ae8f68c27e0463677221e6c6bbc04f8e777bf27  ...             0
14  2fa2fe8e1815b7abf0cde98833e3a591da9a1f5d  ...             0
15  05650d0f0c6f992cbad48bad6ff0ab90f9445199  ...             0
16  300df72d1cd99c8909621b867b70a32a0c5bd723  ...             0
17  083d19abd0e180080c108f43e95c583dc375a3bb  ...             0
18  2eb8e344ca01376e3534f9d223d174babf0a314e  ...             0
19  0868b8fad0eb2595b084e4640e4b8f40dc4a7094  ...             0
20  2d7d6000600dc093ef28b123326d152cde5a1878  ...             0
21  08c3f83beb1affe4b9265a52baedfb6f128f4309  ...             0
22  2fc909c228def082b8a2e3aea60d0ce3b8f14ecc  ...             0
24  3161f2da146b92e9bd27298f4fc7db946f8731a9  ...             0
25  08761e3785ec95ff87a9e4cbeb21af756525be87  ...             0

[25 rows x 15 columns]

In [0]:
from sklearn.preprocessing import OneHotEncoder

X_cat = df[['start_weekday', 'start_time_block', 'pickup_community_area']]

In [52]:
X_cat

        start_weekday  start_time_block pickup_community_area
0                   0                 7                     8
1                   0                 7                    58
2                   0                 7                    44
3                   0                 7                     7
4                   0                 7                     8
...               ...               ...                   ...
999995              4                 6                    77
999996              4                 6                     8
999997              4                 6                    34
999998              4                 6                     4
999999              4                 6                     8

[861605 rows x 3 columns]

In [61]:
ohe = OneHotEncoder(handle_unknown='ignore')
X_cat_ohe = ohe.fit_transform(X_cat)
columns = ohe.get_feature_names(input_features=X_cat.columns)
X_cat_df = pd.DataFrame(X_cat_ohe.todense(), columns=columns)
X_cat_df.head()

# # Combine categorical and continuous features into the final dataframe
# X_train_all = pd.concat([pd.DataFrame(X_train_imputed_scaled), cat_train_df], axis=1)
# X_test_all = pd.concat([pd.DataFrame(X_test_imputed_scaled), cat_test_df], axis=1)

   start_weekday_0  ...  pickup_community_area_9
0              1.0  ...                      0.0
1              1.0  ...                      0.0
2              1.0  ...                      0.0
3              1.0  ...                      0.0
4              1.0  ...                      0.0

[5 rows x 89 columns]

In [57]:
X_cat_ohe.shape

(861605, 89)

In [58]:
X_cat_ohe.indices

array([ 0, 11, 87, ...,  1, 10, 87], dtype=int32)