<a href="https://colab.research.google.com/github/muoyo/chicago-ridesharing/blob/master/notebooks/rideshare_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install sodapy

Collecting sodapy
  Downloading https://files.pythonhosted.org/packages/64/06/6144b36a4b4470bef1fb17d7b98b82a202b5e918f7e0a2c123004f73ca07/sodapy-2.0.0-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from sodapy) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (1.24.3)
Installing collected packages: sodapy
Successfully installed sodapy-2.0.0

In [3]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# !pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
# client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
client = Socrata('data.cityofchicago.org',
                 'Tk6RhuGAFvF9P4ehsysybj3IW',
                 username="mokome@gmail.com",
                 password="Ch1cago!!")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
client.timeout = 10000
results = client.get("m6dm-c72p", limit=1000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

                                         trip_id  ...                          dropoff_centroid_location
0       033eb553a267c9672a16307749ba585b2279d950  ...  {'type': 'Point', 'coordinates': [-87.62665890...
1       06d0dc55591d6fafd44943dceb79db36f9e5f10b  ...  {'type': 'Point', 'coordinates': [-87.69643523...
2       30d8197b8eee1730b0af2719dcdb13a64726bd6b  ...  {'type': 'Point', 'coordinates': [-87.61596952...
3       0b4c86af9dfac5bf734ae0a651e8e997bcc00264  ...  {'type': 'Point', 'coordinates': [-87.68383494...
4       322542beb412800793bd4eb7939202f8606246e1  ...  {'type': 'Point', 'coordinates': [-87.63274648...
...                                          ...  ...                                                ...
999995  042fdebf257a8746b6cbecba054e91a51c94c4a9  ...  {'type': 'Point', 'coordinates': [-87.65177050...
999996  60ff322051f0eed338ae1f6c5950f7f050f673d3  ...  {'type': 'Point', 'coordinates': [-87.61971067...
999997  00ffd26fdede03e27ce93c69adf5a0849c9be74b  ...  {'type': 'Point', 'coordinates': [-87.64316237...
999998  62dfc340528050d5aeae99eaf16e51ce2cced419  ...  {'type': 'Point', 'coordinates': [-87.68383494...
999999  0362928d07517f4f4e7b92394cdc0517273051de  ...  {'type': 'Point', 'coordinates': [-87.62217293...

[1000000 rows x 21 columns]

In [5]:
results_df.head()

                                    trip_id  ...                          dropoff_centroid_location
0  033eb553a267c9672a16307749ba585b2279d950  ...  {'type': 'Point', 'coordinates': [-87.62665890...
1  05f8c7b6ab9add701206b29fada5f6db1a358da3  ...  {'type': 'Point', 'coordinates': [-87.67272395...
2  120b0c6c8bc222c9cae064083a1e0152481a14d6  ...  {'type': 'Point', 'coordinates': [-87.61785967...
3  1413969321456405849e5f69b90f4efd543e02ed  ...  {'type': 'Point', 'coordinates': [-87.64600706...
4  1d0c3724f384cd00a95b28132d4ac3f7eba9506f  ...  {'type': 'Point', 'coordinates': [-87.67635598...

[5 rows x 21 columns]

In [12]:
results_df.columns

Index(['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_census_tract', 'dropoff_census_tract',
       'pickup_community_area', 'dropoff_community_area', 'fare', 'tip',
       'additional_charges', 'trip_total', 'shared_trip_authorized',
       'trips_pooled', 'pickup_centroid_latitude', 'pickup_centroid_longitude',
       'pickup_centroid_location', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude', 'dropoff_centroid_location'],
      dtype='object')

In [0]:
columns_to_use = ['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_community_area', 'dropoff_community_area', 'fare', 'tip',
       'additional_charges', 'trip_total' ]

columns_to_drop = [ col for col in results_df.columns if col not in columns_to_use ]

In [15]:
df = results_df.drop(columns=columns_to_drop)
df.head()

                                    trip_id  ... trip_total
0  033eb553a267c9672a16307749ba585b2279d950  ...       7.55
1  06d0dc55591d6fafd44943dceb79db36f9e5f10b  ...       7.55
2  30d8197b8eee1730b0af2719dcdb13a64726bd6b  ...       7.55
3  0b4c86af9dfac5bf734ae0a651e8e997bcc00264  ...      12.55
4  322542beb412800793bd4eb7939202f8606246e1  ...       7.55

[5 rows x 11 columns]

In [0]:
df['trip_start_timestamp'] = pd.to_datetime(df['trip_start_timestamp'])
df['trip_end_timestamp'] = pd.to_datetime(df['trip_end_timestamp'])
df['trip_seconds'] = df['trip_seconds'].astype('int64')

for col in ['trip_miles', 'fare', 'tip', 'additional_charges', 'trip_total']:
    df[col] = df[col].astype(float)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
trip_id                   1000000 non-null object
trip_start_timestamp      1000000 non-null datetime64[ns]
trip_end_timestamp        1000000 non-null datetime64[ns]
trip_seconds              1000000 non-null int64
trip_miles                999994 non-null float64
pickup_community_area     935379 non-null object
dropoff_community_area    925497 non-null object
fare                      1000000 non-null float64
tip                       1000000 non-null float64
additional_charges        1000000 non-null float64
trip_total                1000000 non-null float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(3)
memory usage: 83.9+ MB

In [0]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
df.to_csv('rideshare.csv', index=False)