<a href="https://colab.research.google.com/github/muoyo/chicago-ridesharing/blob/master/notebooks/rideshare_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install sodapy

Collecting sodapy
  Downloading https://files.pythonhosted.org/packages/64/06/6144b36a4b4470bef1fb17d7b98b82a202b5e918f7e0a2c123004f73ca07/sodapy-2.0.0-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from sodapy) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (3.0.4)
Installing collected packages: sodapy
Successfully installed sodapy-2.0.0

In [0]:
import pandas as pd
import seaborn as sns
from sodapy import Socrata
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
%matplotlib inline

In [131]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# !pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
# client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
client = Socrata('data.cityofchicago.org',
                 'Tk6RhuGAFvF9P4ehsysybj3IW',
                 username="mokome@gmail.com",
                 password="Ch1cago!!")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
client.timeout = 10000
results = client.get("m6dm-c72p", limit=200000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

                                         trip_id  ... dropoff_census_tract
0       0f40e6c641cf7a0e4fa163e92e75af51aa788017  ...                  NaN
1       a63f3daa755f4797c8969b80ac6556feaf963bce  ...                  NaN
2       62344555577428006a6c277d5ad9c42b821e7c0f  ...                  NaN
3       1253a740ea7bb6fac28f1c9653f4d37915c6ba6a  ...          17031062800
4       96389bd840cc2f1d908e92895dcb58f11ac7b06f  ...                  NaN
...                                          ...  ...                  ...
199995  9c8627c355ecea4a8ca2fec2056afacec4a71f9e  ...          17031081401
199996  056dd80d6cece5e76e9c295cb0b6bc47d98459e0  ...          17031980000
199997  0cae9318b78d85bd8b70e59e56e4434efac8fcfe  ...          17031980100
199998  ae7b93a906f1124897adbace8d3f54e041baa25a  ...          17031071100
199999  17f310964fcc13ffaf136903ff1de876cdb589c5  ...          17031980000

[200000 rows x 21 columns]

In [132]:
results_df.head()

                                    trip_id  ... dropoff_census_tract
0  0f40e6c641cf7a0e4fa163e92e75af51aa788017  ...                  NaN
1  a63f3daa755f4797c8969b80ac6556feaf963bce  ...                  NaN
2  62344555577428006a6c277d5ad9c42b821e7c0f  ...                  NaN
3  1253a740ea7bb6fac28f1c9653f4d37915c6ba6a  ...          17031062800
4  96389bd840cc2f1d908e92895dcb58f11ac7b06f  ...                  NaN

[5 rows x 21 columns]

In [0]:
results_df.columns

Index(['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_community_area', 'dropoff_community_area', 'fare',
       'tip', 'additional_charges', 'trip_total', 'shared_trip_authorized',
       'trips_pooled', 'pickup_centroid_latitude', 'pickup_centroid_longitude',
       'pickup_centroid_location', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude', 'dropoff_centroid_location',
       'pickup_census_tract', 'dropoff_census_tract'],
      dtype='object')

In [133]:
columns_to_use = ['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_community_area', 'fare', 'tip',
       'additional_charges', 'trip_total' ]

columns_to_drop = [ col for col in results_df.columns if col not in columns_to_use ]
df = results_df.drop(columns=columns_to_drop)

df['trip_start_timestamp'] = pd.to_datetime(df['trip_start_timestamp'])
df['trip_end_timestamp'] = pd.to_datetime(df['trip_end_timestamp'])
df['trip_seconds'] = df['trip_seconds'].astype('int64')

for col in ['trip_miles', 'fare', 'tip', 'additional_charges', 'trip_total']:
    df[col] = df[col].astype(float) 

df['start_weekday'] = df['trip_start_timestamp'].apply(lambda d: d.weekday())
df['start_hour'] = df['trip_start_timestamp'].apply(lambda d: d.hour)
df['start_time_block'] = df['start_hour'] // 3

df.head()

                                    trip_id  ... start_time_block
0  0f40e6c641cf7a0e4fa163e92e75af51aa788017  ...                7
1  a63f3daa755f4797c8969b80ac6556feaf963bce  ...                7
2  62344555577428006a6c277d5ad9c42b821e7c0f  ...                7
3  1253a740ea7bb6fac28f1c9653f4d37915c6ba6a  ...                7
4  96389bd840cc2f1d908e92895dcb58f11ac7b06f  ...                7

[5 rows x 13 columns]

In [0]:
# public_schools_per_county = df_public_schools['COUNTYFIPS'].value_counts().to_frame()
# public_schools_per_county.reset_index(level=0, inplace=True)
# public_schools_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfPublicSchools"}, inplace=True)
# public_schools_per_county_dcmetro = public_schools_per_county.loc[public_schools_per_county['FIPS'].isin(dcmetro_FIPS.values())]

# private_schools_per_county = df_private_schools['COUNTYFIPS'].value_counts().to_frame()
# private_schools_per_county.reset_index(level=0, inplace=True)
# private_schools_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfPrivateSchools"}, inplace=True)
# private_schools_per_county_dcmetro = private_schools_per_county.loc[private_schools_per_county['FIPS'].isin(dcmetro_FIPS.values())]

# hospitals_per_county = df_hospitals['COUNTYFIPS'].value_counts().to_frame()
# hospitals_per_county.reset_index(level=0, inplace=True)
# hospitals_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfHospitals"}, inplace=True)
# hospitals_per_county['FIPS'] = pd.to_numeric(hospitals_per_county['FIPS'], errors='coerce')
# hospitals_per_county_dcmetro = hospitals_per_county.loc[hospitals_per_county['FIPS'].isin(dcmetro_FIPS.values())]

# df_dcmetro_merged = df_dcmetro.merge(public_schools_per_county_dcmetro, how='left', on='FIPS').merge(
#                                     private_schools_per_county_dcmetro, how='left', on='FIPS').merge(
#                                     hospitals_per_county_dcmetro, how='left', on='FIPS')

In [0]:

weather_df.loc[(weather_df['hour'] < 0) | (weather_df['hour'] > 23)]
#weather_df = weather_df.drop(labels=[96,8832], axis=0)
weather_df['hour'] = weather_df['hour'].apply(lambda x: '{:02d}'.format(x))

In [161]:
weather_df['timestamp'] = pd.to_datetime(weather_df['date'] + ' ' + weather_df['hour'] + ':00:00')
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10223 entries, 0 to 10224
Data columns (total 22 columns):
date                   10223 non-null object
hour                   10223 non-null object
time                   10223 non-null int64
summary                10223 non-null object
icon                   10223 non-null object
precipIntensity        10223 non-null float64
precipProbability      10223 non-null float64
precipType             7033 non-null object
temperature            10223 non-null float64
apparentTemperature    10223 non-null float64
dewPoint               10223 non-null float64
humidity               10223 non-null float64
pressure               10223 non-null float64
windSpeed              10223 non-null float64
windGust               10223 non-null float64
windBearing            10223 non-null int64
cloudCover             10223 non-null float64
uvIndex                10223 non-null int64
visibility             10223 non-null float64
ozone                  10223 non-null float64
precipAccumulation     1883 non-null float64
timestamp              10223 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(13), int64(3), object(5)
memory usage: 2.1+ MB

In [162]:
weather_df['timestamp'].date

AttributeError: ignored

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 14 columns):
trip_id                   200000 non-null object
trip_start_timestamp      200000 non-null datetime64[ns]
trip_end_timestamp        200000 non-null datetime64[ns]
trip_seconds              200000 non-null int64
trip_miles                200000 non-null float64
pickup_community_area     185706 non-null object
dropoff_community_area    183628 non-null object
fare                      200000 non-null float64
tip                       200000 non-null float64
additional_charges        200000 non-null float64
trip_total                200000 non-null float64
start_weekday             200000 non-null int64
start_hour                200000 non-null int64
start_time_block          200000 non-null int64
dtypes: datetime64[ns](2), float64(5), int64(4), object(3)
memory usage: 21.4+ MB

In [134]:
columns_to_use = ['start_weekday', 'start_hour', 'pickup_community_area']

columns_to_drop = [ col for col in df.columns if col not in columns_to_use ]
X_cat = df.drop(columns=columns_to_drop)
X_cat = X_cat.fillna('0')
X_cat

       pickup_community_area  start_weekday  start_hour
0                         17              0          23
1                         38              0          23
2                         24              0          23
3                         24              0          23
4                         32              0          23
...                      ...            ...         ...
199995                    24              0           6
199996                     7              0           6
199997                     7              0           6
199998                     7              0           6
199999                     0              0           6

[200000 rows x 3 columns]

In [135]:
enc = OneHotEncoder()
# X_cat_ohe = enc.fit_transform(X_cat)
# columns = enc.get_feature_names(input_features=X_cat.columns)
# X_cat_df = pd.DataFrame(X_cat_ohe.todense(), columns=columns)
y = df['trip_total']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_cat, y, test_size=0.25, random_state=12)

# Transform training and test sets
X_train_enc = enc.fit_transform(X_train, y_train)
X_test_enc = enc.transform(X_test)

# Convert these columns into a DataFrame 
columns = enc.get_feature_names(input_features=X_train.columns)
X_train_df = pd.DataFrame(X_train_enc.todense(), columns=columns, index=X_train.index)
X_test_df = pd.DataFrame(X_test_enc.todense(), columns=columns, index=X_test.index)

X_train_df = sm.add_constant(X_train_df)
model = sm.OLS(y_train,X_train_df).fit()
model.summary()

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             trip_total   R-squared:                       0.313
Model:                            OLS   Adj. R-squared:                  0.313
Method:                 Least Squares   F-statistic:                     726.5
Date:                Wed, 22 Jan 2020   Prob (F-statistic):               0.00
Time:                        05:51:57   Log-Likelihood:            -5.6261e+05
No. Observations:              150000   AIC:                         1.125e+06
Df Residuals:                  149905   BIC:                         1.126e+06
Df Model:                          94
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
pickup_community_area_0     14.3828      0.115    125.247      0.000      14.158      14.608
pickup_community_area_1      0.1299      0.261      0.498      0.618      -0.381       0.641
pickup_community_area_10     0.4940      0.489      1.010      0.312      -0.464       1.452
pickup_community_area_11     0.7820      0.481      1.626      0.104      -0.161       1.725
pickup_community_area_12     1.8125      0.688      2.634      0.008       0.464       3.161
pickup_community_area_13    -0.1988      0.516     -0.385      0.700      -1.210       0.812
pickup_community_area_14    -0.1116      0.333     -0.336      0.737      -0.763       0.540
pickup_community_area_15     0.1072      0.323      0.332      0.740      -0.526       0.740
pickup_community_area_16     0.4128      0.280      1.475      0.140      -0.136       0.961
pickup_community_area_17    -0.7097      0.491     -1.447      0.148      -1.671       0.252
pickup_community_area_18     0.6006      0.794      0.757      0.449      -0.955       2.157
pickup_community_area_19    -0.9583      0.304     -3.158      0.002      -1.553      -0.363
pickup_community_area_2     -0.9504      0.293     -3.240      0.001      -1.525      -0.376
pickup_community_area_20    -1.5918      0.486     -3.274      0.001      -2.545      -0.639
pickup_community_area_21    -0.6997      0.276     -2.532      0.011      -1.241      -0.158
pickup_community_area_22    -0.8666      0.167     -5.188      0.000      -1.194      -0.539
pickup_community_area_23    -1.7094      0.301     -5.674      0.000      -2.300      -1.119
pickup_community_area_24    -1.5514      0.129    -12.011      0.000      -1.805      -1.298
pickup_community_area_25    -1.0891      0.265     -4.105      0.000      -1.609      -0.569
pickup_community_area_26    -2.0092      0.547     -3.675      0.000      -3.081      -0.938
pickup_community_area_27    -1.6353      0.424     -3.861      0.000      -2.465      -0.805
pickup_community_area_28    -1.4288      0.106    -13.473      0.000      -1.637      -1.221
pickup_community_area_29    -1.2903      0.337     -3.834      0.000      -1.950      -0.631
pickup_community_area_3      0.3716      0.198      1.878      0.060      -0.016       0.759
pickup_community_area_30    -0.9607      0.319     -3.007      0.003      -1.587      -0.334
pickup_community_area_31    -1.7359      0.251     -6.912      0.000      -2.228      -1.244
pickup_community_area_32     0.5910      0.102      5.811      0.000       0.392       0.790
pickup_community_area_33     0.0926      0.213      0.435      0.664      -0.325       0.510
pickup_community_area_34    -1.8107      0.414     -4.369      0.000      -2.623      -0.998
pickup_community_area_35    -1.7323      0.313     -5.543      0.000      -2.345      -1.120
pickup_community_area_36    -1.7866      0.718     -2.488      0.013      -3.194      -0.379
pickup_community_area_37    -2.8518      0.963     -2.962      0.003      -4.739      -0.965
pickup_community_area_38    -1.5366      0.347     -4.432      0.000      -2.216      -0.857
pickup_community_area_39    -0.4441      0.365     -1.216      0.224      -1.160       0.272
pickup_community_area_4      0.3163      0.285      1.109      0.267      -0.243       0.875
pickup_community_area_40    -2.4848      0.523     -4.751      0.000      -3.510      -1.460
pickup_community_area_41     0.3831      0.211      1.815      0.070      -0.031       0.797
pickup_community_area_42    -1.2724      0.352     -3.611      0.000      -1.963      -0.582
pickup_community_area_43    -0.7049      0.301     -2.342      0.019      -1.295      -0.115
pickup_community_area_44    -2.1721      0.346     -6.275      0.000      -2.851      -1.494
pickup_community_area_45    -0.5876      0.746     -0.788      0.431      -2.050       0.875
pickup_community_area_46    -0.4702      0.492     -0.955      0.340      -1.435       0.495
pickup_community_area_47    -1.3599      1.283     -1.060      0.289      -3.874       1.154
pickup_community_area_48     0.8502      0.725      1.172      0.241      -0.571       2.271
pickup_community_area_49    -0.6782      0.368     -1.844      0.065      -1.399       0.043
pickup_community_area_5      1.3850      0.266      5.209      0.000       0.864       1.906
pickup_community_area_50     0.6275      0.773      0.812      0.417      -0.888       2.143
pickup_community_area_51     0.0416      0.708      0.059      0.953      -1.345       1.429
pickup_community_area_52     5.8455      1.208      4.838      0.000       3.477       8.214
pickup_community_area_53    -0.2446      0.558     -0.438      0.661      -1.338       0.849
pickup_community_area_54     1.0027      0.938      1.069      0.285      -0.836       2.841
pickup_community_area_55     1.3514      1.062      1.273      0.203      -0.730       3.433
pickup_community_area_56    16.9008      0.217     77.908      0.000      16.476      17.326
pickup_community_area_57    -0.7143      0.561     -1.273      0.203      -1.814       0.386
pickup_community_area_58    -1.9819      0.392     -5.054      0.000      -2.751      -1.213
pickup_community_area_59    -2.1796      0.515     -4.232      0.000      -3.189      -1.170
pickup_community_area_6      0.1359      0.132      1.028      0.304      -0.123       0.395
pickup_community_area_60    -1.5510      0.353     -4.388      0.000      -2.244      -0.858
pickup_community_area_61    -1.7966      0.377     -4.762      0.000      -2.536      -1.057
pickup_community_area_62    -1.8615      0.605     -3.076      0.002      -3.048      -0.675
pickup_community_area_63    -2.3375      0.482     -4.845      0.000      -3.283      -1.392
pickup_community_area_64     0.5640      0.645      0.875      0.382      -0.699       1.827
pickup_community_area_65    -1.3315      0.485     -2.745      0.006      -2.282      -0.381
pickup_community_area_66    -1.3929      0.385     -3.622      0.000      -2.147      -0.639
pickup_community_area_67    -1.9130      0.451     -4.244      0.000      -2.796      -1.030
pickup_community_area_68    -1.9856      0.403     -4.928      0.000      -2.775      -1.196
pickup_community_area_69    -2.5034      0.363     -6.904      0.000      -3.214      -1.793
pickup_community_area_7     -0.8640      0.137     -6.311      0.000      -1.132      -0.596
pickup_community_area_70     0.0840      0.459      0.183      0.855      -0.816       0.984
pickup_community_area_71    -1.3474      0.357     -3.769      0.000      -2.048      -0.647
pickup_community_area_72     1.1641      0.699      1.665      0.096      -0.206       2.535
pickup_community_area_73    -0.4501      0.533     -0.845      0.398      -1.494       0.594
pickup_community_area_74     0.6187      0.976      0.634      0.526      -1.294       2.531
pickup_community_area_75     0.7454      0.626      1.190      0.234      -0.482       1.973
pickup_community_area_76    22.5537      0.123    183.327      0.000      22.313      22.795
pickup_community_area_77     0.9784      0.241      4.060      0.000       0.506       1.451
pickup_community_area_8     -0.3412      0.090     -3.772      0.000      -0.519      -0.164
pickup_community_area_9      2.3147      1.111      2.083      0.037       0.137       4.492
start_weekday_0             13.4546      0.057    236.664      0.000      13.343      13.566
start_hour_6                 5.9196      0.139     42.624      0.000       5.647       6.192
start_hour_7                 2.8919      0.104     27.929      0.000       2.689       3.095
start_hour_8                 1.3049      0.092     14.125      0.000       1.124       1.486
start_hour_9                 0.7768      0.098      7.949      0.000       0.585       0.968
start_hour_10                1.3511      0.108     12.526      0.000       1.140       1.563
start_hour_11                1.6151      0.111     14.514      0.000       1.397       1.833
start_hour_12                1.3081      0.109     11.962      0.000       1.094       1.522
start_hour_13                1.1572      0.108     10.682      0.000       0.945       1.369
start_hour_14                1.5829      0.107     14.810      0.000       1.373       1.792
start_hour_15                1.7979      0.104     17.251      0.000       1.594       2.002
start_hour_16                1.3658      0.100     13.633      0.000       1.169       1.562
start_hour_17                0.2919      0.096      3.052      0.002       0.104       0.479
start_hour_18               -0.9421      0.099     -9.561      0.000      -1.135      -0.749
start_hour_19               -0.9493      0.115     -8.290      0.000      -1.174      -0.725
start_hour_20               -0.9772      0.125     -7.831      0.000      -1.222      -0.733
start_hour_21               -1.2315      0.129     -9.521      0.000      -1.485      -0.978
start_hour_22               -1.3908      0.143     -9.694      0.000      -1.672      -1.110
start_hour_23               -2.4175      0.177    -13.622      0.000      -2.765      -2.070
==============================================================================
Omnibus:                   114294.888   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          8571756.879
Skew:                           3.073   Prob(JB):                         0.00
Kurtosis:                      39.520   Cond. No.                     1.54e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.13e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [0]:
from sklearn.metrics import mean_squared_error, mean_squared_log_error
from sklearn.linear_model import LinearRegression

# Fit the model
linreg = LinearRegression()
linreg.fit(X_train_df, y_train)

# Print R2 and MSE for training and test sets
print('Training r^2:', linreg.score(X_train_df, y_train))
print('Test r^2:', linreg.score(X_test_df, y_test))
print('Training MSE:', mean_squared_error(y_train, linreg.predict(X_train_df)))
print('Test MSE:', mean_squared_error(y_test, linreg.predict(X_test_df)))

Training r^2: 0.3090977429532322
Test r^2: 0.32224597470175154
Training MSE: 108.38359892999804
Test MSE: 103.52141227931178

In [151]:
weather_df = pd.read_csv('https://github.com/muoyo/chicago-ridesharing/raw/master/data/chicago_weather.csv')
weather_df

             date  hour        time  ... visibility  ozone  precipAccumulation
0      2018-11-01     0  1541048400  ...       10.0  290.8                 NaN
1      2018-11-01     1  1541052000  ...       10.0  289.5                 NaN
2      2018-11-01     2  1541055600  ...       10.0  289.1                 NaN
3      2018-11-01     3  1541059200  ...       10.0  289.0                 NaN
4      2018-11-01     4  1541062800  ...       10.0  289.1                 NaN
...           ...   ...         ...  ...        ...    ...                 ...
10220  2019-12-31    19  1577840400  ...       10.0  354.5                 NaN
10221  2019-12-31    20  1577844000  ...       10.0  356.8              0.0063
10222  2019-12-31    21  1577847600  ...       10.0  358.7                 NaN
10223  2019-12-31    22  1577851200  ...       10.0  359.4              0.0079
10224  2019-12-31    23  1577854800  ...       10.0  359.8                 NaN

[10225 rows x 21 columns]