<a href="https://colab.research.google.com/github/muoyo/chicago-ridesharing/blob/master/notebooks/rideshare_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
!pip install sodapy

Requirement already satisfied: sodapy in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from sodapy) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2.8)

In [0]:
import pandas as pd
import seaborn as sns
from sodapy import Socrata
import statsmodels.api as sm
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_squared_log_error
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [100]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# !pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
# client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
client = Socrata('data.cityofchicago.org',
                 'Tk6RhuGAFvF9P4ehsysybj3IW',
                 username="mokome@gmail.com",
                 password="Ch1cago!!")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
client.timeout = 10000
results = client.get("m6dm-c72p", limit=2000000, select='trip_id, trip_start_timestamp, trip_end_timestamp, trip_seconds, trip_miles, pickup_community_area, dropoff_community_area, fare, tip, additional_charges, trip_total' )

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

                                          trip_id  ... trip_total
0        dd0cc1463ef161e24b5cfca43d21373135e63867  ...      17.55
1        dd0cc1b0d94700b898009174fa407127565d41ea  ...         20
2        dd0cc1d54c5ab4f104fc20ce02a8534b686e1abb  ...       7.55
3        dd0cc3d1ed0d5a9b4ca1b29b2e50a92fe3366dc1  ...         10
4        dd0cc46f48999e973c01cd45468f265e844666c8  ...      12.55
...                                           ...  ...        ...
1999995  1143f37b3053e2f9d4f37f613cdd5825c26dda78  ...      18.05
1999996  1143f38297b979a3b88696b2244bd02341d2a500  ...      22.55
1999997  1143f48e90eb89cccbff886fc4147e3c5a27fa35  ...      35.05
1999998  1143f5069330b99ec01ae6e2da8e24836719f852  ...      36.64
1999999  1143f6e883acba2e5ec818ce73d3eb7b8af2cb50  ...      11.05

[2000000 rows x 11 columns]

In [97]:
columns_to_use = ['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_community_area', 'fare', 'tip',
       'additional_charges', 'trip_total' ]

columns_to_drop = [ col for col in results_df.columns if col not in columns_to_use ]
df = results_df.drop(columns=columns_to_drop)

df['trip_start_timestamp'] = pd.to_datetime(df['trip_start_timestamp'])
df['trip_end_timestamp'] = pd.to_datetime(df['trip_end_timestamp'])
df['trip_seconds'] = df['trip_seconds'].fillna('0')
df['trip_seconds'] = df['trip_seconds'].astype('int64')

for col in ['trip_miles', 'fare', 'tip', 'additional_charges', 'trip_total']:
    df[col] = df[col].astype(float) 

df['start_weekday'] = df['trip_start_timestamp'].apply(lambda d: d.weekday())
df['start_hour'] = df['trip_start_timestamp'].apply(lambda d: d.hour)
df['start_time_block'] = df['start_hour'] // 3

df['start_date_plus_hour'] = df['trip_start_timestamp'].apply(lambda d: datetime(d.year, d.month, d.day, d.hour))

weather_df = pd.read_csv('https://github.com/muoyo/chicago-ridesharing/raw/master/data/chicago_weather.csv')
weather_df['hour'] = weather_df['hour'].apply(lambda x: '{:02d}'.format(x))
weather_df['start_date_plus_hour'] = pd.to_datetime(weather_df['date'] + ' ' + weather_df['hour'] + ':00:00')
weather_df = weather_df.rename(columns={'icon': 'precip'})

def set_precip(precip):
    if precip not in ['rain', 'snow']: 
        precip = 'clear'

    return precip

weather_df['precip'] = weather_df['precip'].apply(set_precip)
precip_df = weather_df[['start_date_plus_hour', 'precip']]

df = df.merge(precip_df, how='left', on='start_date_plus_hour')
df.head()

                                    trip_id  ... precip
0  ecc1cd019a7245f5d1ee0b6a6de54a7a747891c3  ...  clear
1  ecc1cd815dbee6b5f9cf91e5d8209500e8071853  ...  clear
2  ecc1cde0a29114f08b85de6ebd7a5f2f72a52ea1  ...  clear
3  ecc1cf1cbb2db0c04cf39479d018b2688baf7268  ...  clear
4  ecc1cf5253f0aefc61e1bbb83109fe5a185316f7  ...  clear

[5 rows x 15 columns]

In [99]:
columns_to_use = ['pickup_community_area', 'precip']

columns_to_drop = [ col for col in df.columns if col not in columns_to_use ]
X_cat = df.drop(columns=columns_to_drop)
X_cat = X_cat.fillna('0')


enc = OneHotEncoder()

y = df['trip_total']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_cat, y, test_size=0.25)

# Transform training and test sets
X_train_enc = enc.fit_transform(X_train, y_train)
X_test_enc = enc.transform(X_test)

# Convert these columns into a DataFrame 
columns = enc.get_feature_names(input_features=X_train.columns)
X_train_df = pd.DataFrame(X_train_enc.todense(), columns=columns, index=X_train.index)
X_test_df = pd.DataFrame(X_test_enc.todense(), columns=columns, index=X_test.index)

X_train_df = sm.add_constant(X_train_df)
model = sm.OLS(y_train,X_train_df).fit()
model.summary()

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             trip_total   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.8411
Date:                Wed, 22 Jan 2020   Prob (F-statistic):              0.499
Time:                        14:38:34   Log-Likelihood:            -5.6982e+05
No. Observations:              150000   AIC:                         1.140e+06
Df Residuals:                  149995   BIC:                         1.140e+06
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const         -4.07e+12   4.29e+12     -0.948      0.343   -1.25e+13    4.35e+12
precip_0       4.07e+12   4.29e+12      0.948      0.343   -4.35e+12    1.25e+13
precip_clear   4.07e+12   4.29e+12      0.948      0.343   -4.35e+12    1.25e+13
precip_rain    4.07e+12   4.29e+12      0.948      0.343   -4.35e+12    1.25e+13
precip_snow    4.07e+12   4.29e+12      0.948      0.343   -4.35e+12    1.25e+13
==============================================================================
Omnibus:                   133035.874   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         14763957.466
Skew:                           3.811   Prob(JB):                         0.00
Kurtosis:                      51.001   Cond. No.                     4.70e+14
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.27e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [27]:

# Fit the model
linreg = LinearRegression()
linreg.fit(X_train_df, y_train)

# Print R2 and MSE for training and test sets
print('Training r^2:', linreg.score(X_train_df, y_train))
print('Test r^2:', linreg.score(X_test_df, y_test))
print('Training MSE:', mean_squared_error(y_train, linreg.predict(X_train_df)))
print('Test MSE:', mean_squared_error(y_test, linreg.predict(X_test_df)))

Training r^2: 0.31120337885173954
Test r^2: 0.3158165059278203
Training MSE: 108.06877067877224
Test MSE: 104.45088889944266

In [71]:
precip_df.loc[precip_df['precip'] == 'rain']
precip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10223 entries, 0 to 10222
Data columns (total 2 columns):
start_date_plus_hour    10223 non-null datetime64[ns]
precipitation           10223 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 159.9+ KB